/* ===== TAJ BAKERY - PART A ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#fff8f0;
    color:#333;
}

header{
    background:#8B4513;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:40px;
    margin-bottom:10px;
}

header p{
    font-size:18px;
}

.menu{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

.menu h2{
    text-align:center;
    margin-bottom:30px;
    color:#8B4513;
    font-size:32px;
}

.item{
    background:white;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.item h3{
    color:#8B4513;
    margin-bottom:10px;
}

.item p{
    font-size:20px;
    font-weight:bold;
    color:#e67e22;
}
/* ===== TAJ BAKERY - PART B ===== */

button{
    background:#ff9800;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    margin-top:15px;
    transition:0.3s;
}

button:hover{
    background:#e68900;
    transform:scale(1.05);
}

.item:hover{
    transform:translateY(-5px);
    transition:0.3s;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

@media (max-width:768px){

header h1{
    font-size:30px;
}

.menu{
    width:95%;
}

.item{
    padding:15px;
}

button{
    width:100%;
}

}
